#button-container {
    text-align: center;
}

h1 {
  ;
 color: red;
;
 width: 100px;
 padding: 20px;
 margin: 10px;
}

body { background-image: url('http://wallpapercave.com/wp/wsSyjUq.jpg');
  background-repeat;
  background-attachment: fixed;
  background-position:top;}

}
